<div class="container">
  <h2> Add Divison </h2>

  <form action="/divisions" method="post">
    <div class="form-group">
      <label for="department">Department: </label>
      <input id="department" name="department" type="text"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <p><a href="/">Home</a></p>
  <p><a href="/divisions">View divisions</a></p>
</div>
