<div class="container">
  <h2> Add Employee </h2>

  <form action="/employees" method="post">
    <div class="form-group">
      <label for="name">Name: </label>
      <input id="name" name="name" type="text"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <p><a href="/">Home</a></p>
  <p><a href="/employees">View employees</a></p>
</div>
