
<div class="container">
  <p><a href="/divisions">View Divisions</a></p>
  <p><a href="/divisions/new">Add a division</a></p>
  <p><a href="/projects">View Projects</a></p>
  <p><a href="/projects/new">Add a project</a></p>
  <p><a href="/employees">View employees</a></p>

  <!-- <p><a href="/employees/new">Add a employee</a></p> -->
</div>
